body{
    padding: 0;
    margin: 0;
  }
  *:focus{
    outline: none;
  }
  .header-wrapper{
    display: flex;
    justify-content: space-between;
  }
  .header-wrapper ul {
  display: flex;
  }
  
  .header-wrapper ul li {
    list-style-type: none;
    padding: 5px;
  
  }
  .header-wrapper ul li a{
    text-decoration: none;
  }
  
  .header-wrapper ul li button{
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: blueviolet;
    font-size: 16px;
  }
  
  .footer-wrapper{
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 10px;
    background-color: #fff;
  }
  
  
  .input-wrapper{
  margin: 10px;
  }
  .input-field{
    width: 200px;
    height: 30px; 
  }
  .button{
    width: 200px;
    height: 30px;
  }
  .container{
    text-align: center;
  }
  .button-link{
    border: 0;
    cursor: pointer;
    background-color: transparent;
    color: skyblue;
    margin: 20px;
  }
  .input-error{
    position: absolute;
    padding: 8px;
    color: red;
    font-size: 13px;
  }
  table, th, td{
    border:  1px solid #000 ;
    border-collapse: collapse;
    padding: 10px;
  }
  table td button{
    margin: 5px;
  }
  table img {
    width: 80px;
  }